<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Venues</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body class="body">

<div class="container">
    <div ng-controller="View1Ctrl" style="top: 200px">

        <div class="menu" id="div_SearchContainer">
            <h1 align="absolute" style="text-align: center; color: #1ab188">Restaurants for You</h1>
            <div class="col-xs-4" style="margin-left: 200px">
                <input ng-model="place" class="form-control" id="ex3" type="text" placeholder="Enter the place Name">
            </div>
            <div class="col-xs-4">
                <input ng-model="searchQ" class="form-control" id="ex4" type="text" placeholder="Enter Food Name">
            </div>
        </div>
        <button style="margin-top: -10px" class="btn btn-primary" id="btn_getReview" ng-click="getVenues()">Get Venues
        </button>
        <br/><br/>
        <p style="color: red;display: none;" align="center" id="error"><strong>Input fields should not be Empty</strong>
        </p>
        <div id="div_VenueList">
            <h2 style="text-align: center; color: #1ab188"> Top Five Picks From FourSquare Review API </h2>

        </span>
            <div sty id=table ng-repeat="venue in venueList"><label>

                {{venue.name}}
            </label>
            </div>


        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="app.js"></script>

</body>

</html>